.section-title {
    margin-top: 96px;
    color: white;

    h1 {
        font-family: $title-font;
        font-size: 40px;
        margin-bottom: 16px;
    }

    h2 {
        font-family: $text-font;
        font-size: 20px;
    }
}

.intro {
    color: white;
    background-image: url('../assets/hexagon-white.png');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -25px;
    
    .intro-text {
        padding: 100px 0 150px;
        text-align: center;

        h3 {
            font-size: 20px;
        }

        h1 {
            font-size: 36px;
            color: $primary-color;
            margin: 32px;

        }
    }
}